/*========= preload ==========*/

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status {
    background-image: url(../img/preloader.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

/**********************
* Base style
**********************/
html,
body {
  height: 100%;
}

body {
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #4b4b4b;
  font-weight: 400;
  min-width: 320px;
  line-height: 24px;
  letter-spacing: 25;
}

img {
  max-width: 100%;
  height: auto;
}

section {
  position: relative;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

section {
  position: relative;
}

/**********************
* typography
**********************/
h1, h2, h3 {
  margin: 0;
}

h1 {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

a {
  color: #4b4b4b;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #fcb0ba;
  text-decoration: none;
}

/**********************
* navigation
**********************/
.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.nav-menu__list--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.nav-menu__list--item li {
  margin-top: 10px;
}

.nav-menu__list--item li a {
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.nav-menu__list--item li a:hover,
.nav-menu__list--item li a:active,
.nav-menu__list--item li a:focus {
  color: #4b4b4b;
  border-bottom: 4px solid #fcb0ba;
}

/**********************
* whoami block
**********************/
.whoami {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

.avatar {
  margin-bottom: 45px;
}

.spec {
  text-transform: uppercase;
  color: #b0b0b0;
  margin-top: 20px;
}

hr {
  width: 195px;
  margin-top: 40px;
  margin-bottom: 85px;
}

/**********************
* about
**********************/
.about {
  padding-bottom: 100px;
}

.social,
.skills,
.contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.social h3,
.skills h3,
.contacts h3 {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
}

.social div,
.skills div,
.contacts div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 60%;
      -ms-flex-preferred-size: 60%;
          flex-basis: 60%;
}

.social {
  margin-bottom: 50px;
}

.social-icon .icon {
  font-size: 36px;
  margin-right: 30px;
}

[class*=" icon-"]:before {
  margin: 0;
}

.skills {
  margin-bottom: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.contacts__links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desc {
  position: relative;
}

.signature {
  margin-top: -40px;
  text-align: right;
}

.signature img {
  margin-right: 20px;
}

/**********************
* progressbar
**********************/
.progressbar {
  max-width: 290px;
  width: 100%;
  background-color: #f2f2f2;
  height: 21px;
  margin-bottom: 10px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-size: 14px;
  padding-right: 10px;
}

.skills__per {
  float: right;
  white-space: nowrap;
}

.progressbar__purple {
  padding-left: 15px;
  background-color: #fcb0ba;
  width: 5%;
  height: 21px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  display: inline-block;
  white-space: nowrap;
  color: #fff;
  overflow: hidden;
}

.ai-mob {
  display: none;
}

.ai {
  -webkit-transition: 1.7s;
  transition: 1.7s;
}

.ps {
  -webkit-transition: 1.85s;
  transition: 1.85s;
}

.ux {
  -webkit-transition: 1.75s;
  transition: 1.75s;
}

.ai-animate {
    width: 70%;
}

.ps-animate {
    width: 85%;
}
.ux-animate {
    width: 75%;
}

/**********************
* service
**********************/
.service {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  padding-top: 40px;
}

.service__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  min-height: 475px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 65px;
  margin-bottom: 30px;
}

.service__item:hover {
  -webkit-box-shadow: 0px 0px 15px 0px #bbb;
          box-shadow: 0px 0px 15px 0px #bbb;
}

.service__item img {
  height: 80px;
}

.service__item h2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/**********************
* portfolio
**********************/
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio__item {
  margin-bottom: 30px;
}

.portfolio img {
  width: 100%;
  -webkit-transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s;
  transition: box-shadow 0.1s, transform 0.1s, -webkit-box-shadow 0.1s, -webkit-transform 0.1s;
}

.portfolio img:hover {
  -webkit-transform: translate3d(-4px, -4px, -4px);
          transform: translate3d(-4px, -4px, -4px);
  -webkit-box-shadow: 6px 6px 6px 0px rgba(75, 75, 75, 0.5);
          box-shadow: 6px 6px 6px 0px rgba(75, 75, 75, 0.5);
  -webkit-transition: -webkit-box-shadow 0.2s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.2s, -webkit-transform 0.5s;
  transition: box-shadow 0.2s, transform 0.5s;
  transition: box-shadow 0.2s, transform 0.5s, -webkit-box-shadow 0.2s, -webkit-transform 0.5s;
}

/**********************
* footer
**********************/
footer {
  background-color: #f6f6f6;
  padding-top: 65px;
  padding-bottom: 80px;
}

.footer-contacts {
  margin-bottom: 45px;
}

.footer-contacts a {
  display: block;
}

footer .social-icon .icon {
  margin: 0 15px;
}

.footer-contacts a {
  display: inline-block;
}

/**********************
* buttons
**********************/
.see-more {
  text-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fff;
  border: 4px solid #4b4b4b;
  padding: 20px 30px;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 30px;
}

.see-more:hover {
  border-color: #fcb0ba;
  color: #fcb0ba;
}

.see-more:hover a {
  color: #fcb0ba;
}

#scroll-up {
  position: fixed;
  z-index: 999;
  bottom: 1em;
  right: 1em;
  display: none;
}

#scroll-up a {
  font-size: 50px;
  display: block;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 30px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  color: #4b4b4b;
}

#scroll-up .icon {
  font-size: 50px;
}

#scroll-up a:hover {
  color: #fcb0ba;
}

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  p {
    font-size: 16px;
  }
  .service__item {
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .about {
    padding-bottom: 50px;
  }
  .social h3,
  .skills h3,
  .contacts h3 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .social div,
  .skills div,
  .contacts div {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
  }
  .service__item {
    min-height: auto;
    padding-bottom: 50px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .ai-desk {
    display: none;
  }
  .ai-mob {
    display: inline-block;
  }
  .spec {
    text-align: center;
  }
  .contacts__links {
    font-size: 14px;
  }
}
